---
layout: default
title: Exams
nav: 2
languages: ["english", "german", "french", "italian"]
---

<h2>Past Exams</h2>

<table class = "exams">
    <tr>
        <th>Exam</th>
        <th># Prob.</th>
        <th># Part.</th>
        <th>Winner(s)</th>
        {% for lang in page.languages %}
            <th class = "center">{{ lang | capitalize }}</th>
        {% endfor %}
    </tr>

    {% assign exams = site.exams | sort: "year" | reverse %}
    {% for exam in exams %}
        {% assign round = exam.round | replace: " ", "" %}

        {% assign winners = exam.participants | where: "rank", 1 %}

        <tr>
            <td><a href = "{{ exam.url }}">{{ exam.round }} {{ exam.year }}</a></td>
            <td>{{ exam.problem-count }}</td>
            <td>{{ exam.participant-count }}</td>

            <td>
                {% for winner in winners %}
                    {% assign name = winner.first-name | append: " " | append: winner.last-name %}
                    {% if forloop.last == false %}
                        {% assign name = name | append: ", " %}
                    {% endif %}
                    {{ name }}
                {% endfor %}
            </td>
            {% for lang in page.languages %}
                {% assign name = lang | append: round | append: exam.year | append: ".pdf" %}
                {% assign file = site.static_files | where: "name", name | first %}
                <td class = "center">
                    {% if file %}
                        <a href = "{{ file.path }}">pdf</a></td>
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
