---
layout: default
title: Problems
nav: 3
rounds: ["?", "First Round", "Second Round", "Final Round", "Selection"]
---

<h2>Problem Archive</h2>

<p>Many formulations have been slightly altered for the sake of coherent style and notation. Consult the
PDF versions found on the <a href = "/exams.html">exams</a> page for original formulations.</p>

<div class = "problem-filter">
    <div> 
        <input type="checkbox" id="algebra" disabled>
        <label for="algebra">Algebra</label><br>
        <input type="checkbox" id="combinatorics" disabled>
        <label for="combinatorics">Combinatorics</label><br>
        <input type="checkbox" id="geometry" disabled>
        <label for="geometry">Geometry</label><br>
        <input type="checkbox" id="number-theory" disabled>
        <label for="number-theory">Number Theory</label>
    </div>
    <div>
        <input type="checkbox" id="first-round" disabled>
        <label for="first-round">First Round</label><br>
        <input type="checkbox" id="second-round" checked>
        <label for="second-round">Second Round</label><br>
        <input type="checkbox" id="final-round" checked>
        <label for="final-round">Final Round</label><br>
        <input type="checkbox" id="selection" checked>
        <label for="selection">Selection</label>
    </div>
    <div>
        <label for="search">Text Search</label><br>
        <input type="text" id="search" maxlength="20" size="25"></input><br><br>

        <label for="from">From</label>
        <input type="number" id="from" min="1997" max="2025" step="1" value = "2020"></input>

        <label for="to">To</label>
        <input type="number" id="to" min="1997" max="2025" step="1" value = "2025"></input>

    </div>
    <div>
        <button type="button" id="filter">Filter Archive</button><br><br>
        {% assign count = site.problems | size %}
        <p><strong>Displayed: <span id='count'>{{ count }}</span> / {{ count }}</strong></p>
    </div>
</div>

{% assign problems = site.problems %}
{% for p in problems %}
<!-- <div class = "problem {{ page.rounds[problem.round] | downcase | replace: " ", "-"}} {{ problem.year }} p{{ problem.number }}"> -->
<!--     <h4>{{ page.rounds[problem.round] }} {{ problem.year }} – Problem {{ problem.number }} ({{ problem.topic }})</h4> -->
<!--     {{ problem.content }} -->
<!-- </div> -->
{% include problem.html problem=p %}
{% endfor %}

<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const yearFrom = document.getElementById('from');
    const yearTo = document.getElementById('to');
    const filterButton = document.getElementById('filter');
    const problems = document.querySelectorAll('div.problem');
    const tags = ['algebra', 'combinatorics', 'geometry', 'number-theory',
        'first-round', 'second-round', 'final-round', 'selection'];
    const search = document.getElementById('search');

    function filter(div) {
        for (const tag of tags) {
            if (div.classList.contains(tag) && !document.getElementById(tag).checked) { return false; }
        }
        if (!div.textContent.toLowerCase().includes(search.value.toLowerCase())) { return false; }
        const hasIntInRange = Array.from(div.classList).some(cls => {
            const num = parseInt(cls, 10);
            return !isNaN(num) && num >= yearFrom.value && num <= yearTo.value;
        });
        return hasIntInRange;
    }

    function update() {
        var count = 0;
        problems.forEach(div => {
            var show = filter(div);
            div.style.display = show ? '' : 'none';
            if (show) { count += 1 };
        });
        document.getElementById('count').innerHTML = count;
    }

    filterButton.addEventListener('click', update);
    update();
</script>
