---
title: Scripts
layout: default
languages: ["english", "german", "french", "italian"]
tags: ["-", "-exercises-", "-hints-", "-solutions-"]
rounds: ["Second Round", "Final Round", "Selection"]
---

<h2>Scripts</h2>

<p>
<label for="lang-select" style="margin-bottom: 10px;">PDF Language: </label>
<select id="lang-select">
    <option value="english" selected>English</option>
    <option value="german">German</option>
    <option value="french">French</option>
    <option value="italian">Italian</option>
</select>
</p>

{% assign scripts-by-round = site.scripts | group_by: "round" %}

<div id = "lang-links">
    <table class = "sortable">
        <tr>
            <th class = "sort-3 sort-asc">Name</th>
            <th class = "center sort-2 sort-asc">Topic</th>
            <th class = "center sort-1 sort-asc">Round</th>
            <th class = "center">Script</th>
            <th class = "center">Exercises</th>
            <th class = "center">Hints</th>
            <th class = "center">Solutions</th>
        </tr>
        {% for script in site.scripts %}
            <tr>
                <!-- <td><a href="{{ script.url }}">{{ script.title }}</a></td> -->
                <td>{{ script.title }}</td>
                <td class = "center">{{ script.topic }}</td>
                <td class = "center">{{ script.round }}</td>

                {% for i in (0..3) %}
                    <td class = "center">
                        {% for lang in page.languages %}
                            {% assign name = script.file | append: page.tags[i] | append: lang | append: ".pdf" %}
                            {% assign file = site.static_files | where: "name", name | first %}
                                {% if file %}
                                    <a class = "link-{{ lang }}" href = "{{ file.path }}" style="display:none;">pdf</a>
                                {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdown = document.getElementById('lang-select');
        const container = document.getElementById('lang-links');

        function filterLinks() {
            const links = container.querySelectorAll('a');
            const value = dropdown.value;
            links.forEach(link => {
                link.style.display = link.classList.contains('link-' + value) ? '' : 'none';
            });
        }

        dropdown.addEventListener('change', filterLinks);
        filterLinks();
    });
</script>
