<nav class="collapsed">
  {% assign current = "/" %}
  {% for item in site.data.navigation %}
    {% if page.url == item.url or page.url contains item.url and item.url != "/" %}
      {% assign current = item.url %}
    {% endif %}
  {% endfor %}
  {% for item in site.data.navigation %}
    <a href="{{ item.url }}" class='{% if item.url == current %}current{% endif %}'>{{ item.title }}</a>
  {% endfor %}
  <button class="nav-toggle">▼</button>
</nav>

<script>
  const navToggleButton = document.querySelector('.nav-toggle');
  const nav = document.querySelector("nav");
  navToggleButton.addEventListener("click", () => {
    if (navToggleButton.textContent == "▼") {
      navToggleButton.textContent = "▲";
      nav.classList.remove("collapsed");
      nav.classList.add("expanded");
    } else {
      navToggleButton.textContent = "▼";
      nav.classList.remove("expanded");
      nav.classList.add("collapsed");
    }
  })
</script>