
{% assign year = include.problem.year %}
{% assign round = include.problem.round %}
{% assign number = include.problem.number %}
{% assign topic = include.problem.topic %}
{% assign author = include.problem.author %}
{% assign source = include.problem.source %}

<div class = "problem {{ round | replace: " ", "-" | downcase }} {{ year }} p{{ number }} {{ topic | replace: " ", "-" | downcase }}">
    <h4>{{ round }} {{ year }} – Problem {{ number }}</h4>
    <div class = "info">
        Topic: {{ topic }}<br>
        {% if author %}Author: {{ author }}{% endif %}
        {% if source %}Source: {{ source }}{% endif %}
    </div>
    {{ include.problem.content }}
</div>
