
@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
}
@font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
}
@font-face {
    font-family: CMO;
    src: url(../fonts/cmuserif_oblique_macroman/cmunti-webfont.woff);
}

$white: white;
$red: red;
$pink: #FFEEEE;

body {
  margin: 0px;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0px;
  background-color: $white;
  z-index: 1000;

  h1 {
    text-align: center;
  }

  nav {
    background-color: $pink;
    padding: 10px;
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;

    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
      &.current {
        font-weight: bold;
      }
    }
  }
}

a {
  text-decoration: none;
}

main {
  margin: 50px 15%;
  flex: 1;
}

.problem {
  font-family: CMR;
  h4 {
    font-family: CMB;
    margin-bottom: 5px;
    margin-top: 0px
  }
  p {
    margin-top: 5px;
  }
  width: 60%;
  margin: 0px auto;
  padding: 10px 0px;
  text-align: justify;
  em {
    font-family: CMO;
  }
} 

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    &.center {
      text-align: center;
    }
  }
}

.curriculum {
  .round {
    display: flex;
    gap: 20px;
    .topic {
      flex: 1;
    }
  }
  p {
    margin: 8px 0px;
  }
}

.problem-filter {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.participants {
  columns: 4;
  column-gap: 20px;
  list-style: none;
  .subtitle {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
  }
  .no-split {
    break-inside: avoid;
  }
}

footer {
  background-color: $pink;
  border-top: 2px solid $red;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
