
@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
}
@font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
}
@font-face {
    font-family: CMO;
    src: url(../fonts/cmuserif_oblique_macroman/cmunti-webfont.woff);
}

$white: white;
$red: red;
$pink: #FFEEEE;
$lightred: #FF6666;
$lightblue: #6666FF;
$gold: gold;
$silver: silver;
$bronze: #CD7F32;
$purple: blueviolet;
$orange: darkorange;

body {
  margin: 0px;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0px;
  background-color: $white;
  z-index: 1000;

  .header-container {
    position: relative;
    
    h1 {
      text-align: center;
      margin: 20px 0;
    }
    
    .auth-icon {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      color: $red;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: opacity 0.2s;
      
      svg {
        width: 28px;
        height: 28px;
      }
      
      &:hover {
        opacity: 0.6;
      }
    }
  }

  nav {
    background-color: $pink;
    padding: 10px;
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;

    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
      &.current {
        font-weight: bold;
      }
    }
  }
}

a {
  text-decoration: none;
}

main {
  margin: 50px 15%;
  flex: 1;
}

.problem {
  font-family: CMR;
  width: 60%;
  margin: 0px auto;
  padding: 10px 0px;
  text-align: justify;
  
  .problem-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    
    h4 {
      font-family: CMB;
      margin: 0;
    }
  }
  
  .problem-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .action-group {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    
    svg {
      stroke: #999;
      fill: none;
      transition: all 0.2s;
    }
    
    &:hover {
      transform: scale(1.15);
    }
    
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    
    // Solved button (green circle with white checkmark)
    &.action-solve {
      .check-circle {
        stroke: #999;
        fill: none;
        transition: all 0.2s;
      }
      
      .check-mark {
        stroke: #999;
        transition: all 0.2s;
      }
    }
    
    &.action-solve.active {
      .check-circle {
        stroke: green;
        fill: green;
      }
      
      .check-mark {
        stroke: white;
      }
    }
    
    // List button (blue)
    &.action-list.active svg {
      stroke: blue;
      fill: blue;
    }
    
    // Like button (red)
    &.action-like.active svg {
      stroke: $red;
      fill: $red;
    }
  }
  
  .action-count {
    font-size: 13px;
    color: #999;
    min-width: 15px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    
    &.loaded {
      opacity: 1;
    }
  }
  
  p {
    margin-top: 5px;
  }
  
  em {
    font-family: CMO;
  }
  
  .info {
    font-size: 15px;
  }
} 

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    &.center {
      text-align: center;
    }
  }
}

.overflow-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

.distribution-table {
  table-layout: fixed;
  width: max-content;
  border-collapse: collapse;
  td, th {
    padding: 0 0;
    width: 20px;
    height: 20px;
    border: 1px solid #EEEEEE;
    div {
      height: 100%;
      box-sizing: border-box;
      border: 3px solid $lightred;
      background-color: rgba($lightred, 0.2);
    }
    .gold {
      border-color: $gold;
      background-color: rgba($gold, 0.2);
    }
    .silver {
      border-color: $silver;
      background-color: rgba($silver, 0.2);
    }
    .bronze {
      border-color: $bronze;
      background-color: rgba($bronze, 0.2);
    }
    .lie {
      border-color: $lightblue;
      background-color: rgba($lightblue, 0.2);
    }
    .imo {
      border-color: $orange;
      background-color: rgba($orange, 0.2);
    }
    .memo {
      border-color: $purple;
      background-color: rgba($purple, 0.2);
    }

    div:hover, div.highlighted {
      background-color: rgba($lightred, 0.5);
    }
    .gold:hover, .gold.highlighted {
      background-color: rgba($gold, 0.5);
    }
    .silver:hover, .silver.highlighted {
      background-color: rgba($silver, 0.5);
    }
    .bronze:hover, .bronze.highlighted {
      background-color: rgba($bronze, 0.5);
    }
    .lie:hover, .lie.highlighted {
      background-color: rgba($lightblue, 0.5);
    }
    .imo:hover, .imo.highlighted {
      background-color: rgba($orange, 0.5);
    }
    .memo:hover, .memo.highlighted {
      background-color: rgba($purple, 0.5);
    }
  }
  .label-row {
    border: 2px solid black;
  }
  .label {
    border: none;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    border: none;
  }
  .label:nth-child(2n) {
    background-color: rgba(black,0.05);
  }
  .empty {
    border: none;
  }
}
.scroll-highlighted {
  transition-property: background-color;
  transition-duration: 0.2s;
}

thead {
  background-color: rgba($lightred, 0.5);
}
.results-row-gold {
  background-color: rgba($gold, 0.2);
}
.results-row-silver {
  background-color: rgba($silver, 0.2);
}
.results-row-bronze {
  background-color: rgba($bronze, 0.2);
}
.results-row-lie {
  background-color: rgba($lightblue, 0.2);
}
.results-row-imo {
  background-color: rgba($orange, 0.2);
}
.results-row-memo {
  background-color: rgba($purple, 0.2);
}
.results-row-gold:hover, .results-row-gold.highlighted {
  background-color: rgba($gold, 0.4);
}
.results-row-silver:hover, .results-row-silver.highlighted {
  background-color: rgba($silver, 0.4);
}
.results-row-bronze:hover, .results-row-bronze.highlighted {
  background-color: rgba($bronze, 0.4);
}
.results-row-lie:hover, .results-row-lie.highlighted {
  background-color: rgba($lightblue, 0.4);
}
.results-row-imo:hover, .results-row-imo.highlighted {
  background-color: rgba($orange, 0.4);
}
.results-row-memo:hover, .results-row-memo.highlighted {
  background-color: rgba($purple, 0.4);
}
.results-row-:hover, .results-row-.highlighted {
  background-color: rgba(black, 0.08);
}

.curriculum {
  .round {
    display: flex;
    gap: 20px;
    .topic {
      flex: 1;
    }
  }
  p {
    margin: 8px 0px;
  }
}

.problem-filter {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.participants {
  columns: 4;
  column-gap: 20px;
  list-style: none;
  .subtitle {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
  }
  .no-split {
    break-inside: avoid;
  }
}

footer {
  background-color: $pink;
  border-top: 2px solid $red;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
