---
rounds: ["", "First Round", "Second Round", "Final Round", "Selection"]
---
<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
        <title>{{ page.round }} {{ page.year }}</title>
	</head>
	<body>
		<header>
			<h1>Swiss Mathematical Olympiad Archive</h1>
			{% include nav.html %}
		</header>
		<main>
            <h2>{{ page.round }} {{ page.year }}</h2>
            <!-- <p>{{ page.date | date: "%-d %B %Y" }}</p> -->

            <h3>Scores</h3>
            <table class = "scores">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        {% for i in (1..page.problem-count) %}
                        <th class = "center">P{{ i }}</td>
                        {% endfor %}
                        <th class = "center">Total</th>
                        <th class = "center">{% if page.round == "Selection" %}Team{% else %}Award{% endif %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in page.participants %}
                    <tr>
                        <td>{{ participant.rank }}</td>
                        <td>{{ participant.first-name }}</td>
                        <td>{{ participant.last-name }}</td>
                        {% for i in (1..page.problem-count) %}
                        <td class = "center">{{ participant.scores[forloop.index0] }}</td>
                        {% endfor %}
                        <td class = "center">{{ participant.total }}</td>
                        <td class = "center">{{ participant.award }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Contest Problems</h3>

            {% assign round = page.name | slice: 5, 1 | plus: 0 %}
            {% assign problems = site.problems | where: "year", page.year %}

            {% for problem in problems %}
                {% if layout.rounds[problem.round] == page.round %}
                    <div class = "problem">
                        <h4>Problem {{ problem.number }}</h4>
                        {{ problem.content }}
                    </div>
                {% endif %}
            {% endfor %}

        </main>
        <footer>

        </footer>
	</body>
</html>
