---
layout: default
round-names: ["Second Round", "Final Round", "Selection", "Overall"]
topic-names: ["Algebra","Geometry","Combinatorics","Number Theory","Total"]
---
<h2>{{ page.first-name }} {{ page.last-name }}</h2>

<p>
<strong> First Name:</strong> {{ page.first-name }}<br>
<strong> Last Name:</strong> {{ page.last-name }}<br>
<strong> Participations:</strong> {{ page.years | join: ", " }}<br>
</p>

<h3>Exams</h3>
<table>
    <tr>
        <th>Year</th>
        <th>Round</th>
        <th>Scores</th>
        <th class = "center">Total</th>
        <th class = "center">Abs. Rank</th>
        <th class = "center">Rel. Rank</th>
        <th class = "center">Award / Team</th>
    </tr>
    {% assign current = 0 %}
    {% for result in page.exams %}
        {% assign exam = site.exams | where: "slug", result.slug | first %}
        {% assign isodd = exam.year | modulo: 2 %}
        <tr class="{% if isodd == 0 %}emphasis{% endif %}">
            <td>{% unless current == exam.year %}{{ exam.year }}{% endunless %}</td>
            {% assign current = exam.year %}
            <td><a href = "{{ exam.url }}">{{ exam.round }}</a></td>
            <td>{{ result.scores | join: ", " }}</td>
            <td class = "center">{{ result.total }} / {{ exam.problem-count | times: 7 }}</td>
            <td class = "center">{{ result.rank }} / {{ exam.participant-count }}</td>
            {% if result.rank == "-" %}
                <td class = "center">-</td>
            {% else %}
                {% assign relrank = exam.participant-count | minus: result.rank | plus: 1 | times: 100 | divided_by: exam.participant-count | round %}
                <td class = "center">{{ relrank }} %</td>
            {% endif %}
            <td class = "center award {{ result.award | downcase }}">{{ result.award }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Awards / Qualifications</h3>
<table>
    <tr>
        <th class = "center">Gold</th>
        <th class = "center">Silver</th>
        <th class = "center">Bronze</th>
        <th class = "center">IMO</th>
        <th class = "center">MEMO</th>
    <tr>
    <tr>
        <td class = "center gold">{{ page.awards.gold | join: ", " }}</td>
        <td class = "center silver">{{ page.awards.silver | join: ", " }}</td>
        <td class = "center bronze">{{ page.awards.bronze | join: ", " }}</td>
        <td class = "center imo">{{ page.awards.imo | join: ", " }}</td>
        <td class = "center memo">{{ page.awards.memo | join: ", " }}</td>
    </tr>
</table>

<h3 style="display:flex;">Point Distribution by Round <button id="topic-dist-toggle" class="toggle-button">Show per-topic distribution</button></h3>

<table id="dist-table">
    <tr>
        <th>Round</th>
        <th class = "center"># –</th>
        {% for i in (0..7) %}
            <th class = "center"># {{ i }}</th>
        {% endfor %}
        <th class = "center">Total</th>
    </tr>
    {% for r in (0..3) %}
    <tr>
        <th>{{ layout.round-names[r] }}</th>
        {% for i in page.scores[r] %}
            <td class = "center">{{ i }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<table id="topic-dist-table" hidden>
    <tr>
        <th class="center">Round</th>
        <th>Topic</th>
        <th class = "center"># –</th>
        {% for i in (0..7) %}
            <th class = "center"># {{ i }}</th>
        {% endfor %}
        <th class = "center">Total</th>
    </tr>
    {% for r in (0..3) %}
        {% for t in (0..4) %}
        <tr {% if t == 4 %} class="emphasis" {% endif %}>
            {% if t == 0 %}
                <th rowspan="5" class="center">{{ layout.round-names[r] }}</th>
            {% endif %}
            <th class="sub">{{ layout.topic-names[t] }}</th>
            {% for i in page.topic-scores[r][t] %}
                <td class = "center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>

<script>
    const topicDistButton = document.getElementById("topic-dist-toggle");
    const table1 = document.getElementById("dist-table");
    const table2 =  document.getElementById("topic-dist-table");
    let state = 1;
    topicDistButton.addEventListener("click",() => {
        if (state == 1) {
            table1.hidden = true;
            table2.hidden = false;
            topicDistButton.textContent = "Hide per-topic distribution";
        } else {
            table1.hidden = false;
            table2.hidden = true;
            topicDistButton.textContent = "Show per-topic distribution";
        }
        state = 3-state;
    })
</script>

<h3>Points per Topic by Round</h3>
<table>
    <tr>
        <th>Round</th>
        <th class = "center">Algebra</th>
        <th class = "center">Geometry</th>
        <th class = "center">Combinatorics</th>
        <th class = "center">Number Theory</th>
        <th class = "center">Total</th>
    </tr>
    {% for r in (0..3) %}
    <tr>
        <th>{{ layout.round-names[r] }}</th>
        {% for score in page.topics[r] %}
            <td class = "center">{{ score }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
