---
layout: default
---
<h2>Second Round {{ page.year }}</h2>
<!-- <p>{{ page.date | date: "%-d %B %Y" }}</p> -->
<p>Number of participants: {{ page.participant-count }}</p>

<h3>Scores of the Top 50</h3>
<table class = "scores">
    <thead>
        <tr>
            <th>Rank</th>
            <th>First Name</th>
            <th>Last Name</th>
            {% if page.problem-count == 6 %}
                <th class = "center">C1</th>
                <th class = "center">C2</th>
                <th class = "center">G1</th>
                <th class = "center">G2</th>
                <th class = "center">N1</th>
                <th class = "center">N2</th>
            {% endif %}
            {% if page.problem-count == 5 %}
                <th class = "center">P1</th>
                <th class = "center">P2</th>
                <th class = "center">P3</th>
                <th class = "center">P4</th>
                <th class = "center">P5</th>
            {% endif %}
            <th class = "center">Total</th>
    </thead>
    <tbody>
        {% for participant in page.participants %}
        <tr>
            <td>{{ participant.rank }}</td>
            <td>{{ participant.first-name }}</td>
            <td>{{ participant.last-name }}</td>
            {% for i in (1..page.problem-count) %}
            <td class = "center">{{ participant.scores[forloop.index0] }}</td>
            {% endfor %}
            <td class = "center">{{ participant.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Contest Problems</h3>

{% assign problems = site.problems | where: "year", page.year %}
{% assign problems = problems | where: "round", 2 %}

{% for problem in problems %}
    <div class = "problem">
        <h4>Problem {{ problem.number }}</h4>
        {{ problem.content }}
    </div>
{% endfor %}

