---
layout: default
---
<h2>Second Round {{ page.year }}</h2>
<!-- <p>{{ page.date | date: "%-d %B %Y" }}</p> -->
<p>Number of participants: {{ page.participant-count }}</p>

{% assign problems = site.problems | where: "year", page.year | where: "round", "Second Round" %}

{% if problems.size != page.problem-count %}
    ERROR: PROBLEM COUNT MISSMATCH
{% endif %}

<h3>Scores of the Top 50</h3>
<table class = "scores">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            {% for problem in problems %}
                <th class = "center">{{ problem.number }}</th>
            {% endfor %}
            <th class = "center">Total</th>
    </thead>
    <tbody>
        {% for participant in page.participants %}
        <tr>
            <td>{{ participant.rank }}</td>
            {% assign pp = site.participants | where: "first-name", participant.first-name | where: "last-name", participant.last-name | first %}
            <td>
                {% if pp %}
                    <a href="/{{ pp.slug }}">{{ participant.first-name }} {{ participant.last-name }}</a>
                {% else %}
                    {{ participant.first-name }} {{ participant.last-name }}
                {% endif %}
            </td>
            {% for problem in problems %}
                <td class = "center">{{ participant.scores[forloop.index0] }}</td>
            {% endfor %}
            <td class = "center">{{ participant.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Contest Problems</h3>

{% for problem in problems %}
    {% include problem.html problem = problem %}
{% endfor %}

